<aside class="col-md-3 p-0 flex-shrink-1 sticky-top" style="margin-top:30px">
    <!--fixed-top/sticky-top-->
    <nav class="navbar navbar-expand navbar-dark  flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between ">
                
                <li class="nav-item">
                    <a class="nav-link pl-0" href=" /Project_WE/public/patient/{id}/labReport/{labAppointment_id}"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline">Lab Appointment</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/Project_WE/public/patient/{id}/{appointment_id}/prescription"><i class="fa fa-cog fa-fw"></i> <span class="d-none d-md-inline">Prescriptions</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href=" /Project_WE/public/patient/{id}/appointmentArchive"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Appointments</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href=" /Project_WE/public/patient/{id}/currentAdmission"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Current Admission</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href=" /Project_WE/public/patient/{id}/allAdmissions"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">All Admissions</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href=" /Project_WE/public/patient/{id}/bill"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Bills</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="/Project_WE/public/patient/{id}/bill"></a>><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline"></span></a>
                </li>
                
            </ul>
        </div>
    </nav>
</aside>